{%  extends 'base.html.twig' %}


{% block body %}


{#    {{ dump(flashMessages) }}#}


{#    <div style="color: red">#}

{#    {%  for message in flashMessages %}#}


{#        {{ message }}#}

{#    {%  endfor %}#}

{#    </div>#}



<a href="{{  path('home/new') }}">Create new country</a> <br><br>

    <table border=1>


        <thead>

        <tr>

            <th>Country</th>

            <th>Population</th>


        </tr>

        </thead>




        <tbody>


        {%  for country in data %}

            <tr>

                <td>

                    {{ country.name }}

                </td>


                <td>

                    {{ country.population }}

                </td>




            </tr>

        {%  endfor %}




        </tbody>


    </table>




{% endblock %}



