{%  extends 'base.html.twig' %}


{% block body %}


    <style>

        table.settingsLister th {
            text-align: right
        }

    </style>

    <a href="{{ path('home') }}">Back</a>


    <div style="float: right; border: 1px solid black; width: 300px">


        <table class="settingsLister">

            <tr>

                <th>

                    <strong>Created</strong> <br>

                </th>


                <td>
                    {{ dateHelper.formatDate(data.createdTs) }}

                </td>


            </tr>


            <tr>

                <th>

                    <strong>Resolved</strong> <br>

                </th>


                <td>
                    {{  data.resolvedTs }}<br>

                </td>


            </tr>



            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>

            <tr>

                <th>

                    <strong>Started</strong> <br>

                </th>


                <td>
                    {{  data.startTs }}<br>

                </td>


            </tr>





            <tr>

                <th>

                    <strong>Modified</strong> <br>

                </th>


                <td>
                    {{ "NA" }}<br>

                </td>


            </tr>

            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>



            <tr>

                <th>


                    <strong>Status</strong> <br>

                </th>


                <td>
                    {{  data.status }}<br>

                </td>


            </tr>

        </table>



        <div style="float:left; text-align: right; padding: 5px;">

        </div>


        <div style=" padding: 5px;">

{#            {{  data.createdTs }}<br>#}





        </div>




    </div>





    <form method="post">

        <div style="float:left; padding: 5px; text-align: right; ">

            <strong>Title</strong><br>
            <strong>Description</strong><br>
            <strong>User</strong><br>
            <strong>Status</strong><br>


        </div>


        <div>

            <input type="text" name="task[title]" value="{{ data.title }}"> <br>


            <input type="text" name="task[description]" value="{{ data.description }}"> <br>

            <input type="text" name="task[user]" value="{{ data.user }}"> <br>


            <select name="task[status]">

            {% for key, status in statuses %}

                    {% set selected = '' %}
                    {#                        {% if (oneSupervisor.fname ~ ' ' ~ oneSupervisor.lname) == user.supervisor %}#}
                    {% if key == data.status %}
                        {% set selected = 'selected' %}
                    {% endif %}

                    <option value="{{ key }}" {{ selected }}>


                        {{ status }}
                    </option>



                {% endfor %}


            </select>

        </div>

        <button type="submit" name="task_submit" value="1" class="btn btn-info">Save</button>

    </form>





{% endblock %}
